In [0]:
# Descriptive Statistics
import pandas as pd
from scipy import stats

projects_df = pd.read_csv("https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/ksprojects.csv")
projects_df.shape
projects_df.info()

projects_df['category'].nunique()
category_counts=projects_df['category'].value_counts()
category_counts.head(10)

null_rows=projects_df[projects_df.isnull().any(axis=1)]
null_rows.tail(10)
null_rows.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65418 entries, 0 to 65417
Data columns (total 13 columns):
id               65418 non-null int64
name             65418 non-null object
category         65418 non-null object
main_category    65418 non-null object
deadline         65418 non-null object
goal             65418 non-null float64
launched         65418 non-null object
state            65418 non-null object
backers          65418 non-null int64
country          65418 non-null object
usd_pledged      64673 non-null float64
currency         65418 non-null object
pledged          65418 non-null float64
dtypes: float64(3), int64(2), object(8)
memory usage: 6.5+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 745 entries, 9490 to 59365
Data columns (total 13 columns):
id               745 non-null int64
name             745 non-null object
category         745 non-null object
main_category    745 non-null object
deadline         745 non-null object
goal             745 non-null float64
launched         745 non-null object
state            745 non-null object
backers          745 non-null int64
country          745 non-null object
usd_pledged      0 non-null float64
currency         745 non-null object
pledged          745 non-null float64
dtypes: float64(3), int64(2), object(8)
memory usage: 81.5+ KB

In [0]:
import pandas as pd
from scipy import stats
players_df = pd.read_csv("https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/players.csv")
players_df.info()

players_1990 = players_df.iloc[(players_df['yearid'] == 1990).values]
players_1990.info()

players_2000 = players_df.iloc[(players_df['yearid'] == 2000).values ]
players_2000.info()

stats.ttest_ind(players_2000['salary'],players_1990['salary'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26428 entries, 0 to 26427
Data columns (total 14 columns):
playerid        26428 non-null object
birthyear       26428 non-null int64
birthcountry    26428 non-null object
deathyear       492 non-null float64
namefirst       26428 non-null object
namelast        26428 non-null object
weight          26428 non-null int64
height          26428 non-null int64
bats            26428 non-null object
throws          26428 non-null object
yearid          26428 non-null int64
teamid          26428 non-null object
lgid            26428 non-null object
salary          26428 non-null int64
dtypes: float64(1), int64(5), object(8)
memory usage: 2.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 867 entries, 3289 to 4155
Data columns (total 14 columns):
playerid        867 non-null object
birthyear       867 non-null int64
birthcountry    867 non-null object
deathyear       36 non-null float64
namefirst       867 non-null object
namelast        867 non-null object
weight          867 non-null int64
height          867 non-null int64
bats            867 non-null object
throws          867 non-null object
yearid          867 non-null int64
teamid          867 non-null object
lgid            867 non-null object
salary          867 non-null int64
dtypes: float64(1), int64(5), object(8)
memory usage: 101.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 836 entries, 12263 to 13098
Data columns (total 14 columns):
playerid        836 non-null object
birthyear       836 non-null int64
birthcountry    836 non-null object
deathyear       10 non-null float64
namefirst       836 non-null object
namelast        836 non-null object
weight          836 non-null int64
height          836 non-null int64
bats            836 non-null object
throws          836 non-null object
yearid          836 non-null int64
teamid          836 non-null object
lgid            836 non-null object
salary          836 non-null int64
dtypes: float64(1), int64(5), object(8)
memory usage: 98.0+ KB

Ttest_indResult(statistic=16.90651573407297, pvalue=2.1593870550905857e-59)

In [0]:
# Houseprices
import pandas as pd
from scipy import stats

houseprices_df=pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/houseprices.csv')
#How many rows of data does the table contain?
#houseprices_df.shape
#houseprices_df.count()
print("Number of rows in the dataframe: {}".format(houseprices_df.shape[0]))

Number of rows in the dataframe: 1460

In [0]:
#Are there any nulls in any columns?
import pandas as pd
from scipy import stats

houseprices_df=pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/houseprices.csv')
houseprices_na_coln=houseprices_df.isnull().any()
houseprices_na_coln

null_columns=houseprices_df.columns[houseprices_df.isnull().any(axis=0)].tolist()
null_columns

['lotfrontage',
 'alley',
 'masvnrtype',
 'masvnrarea',
 'bsmtqual',
 'bsmtcond',
 'bsmtexposure',
 'bsmtfintype1',
 'bsmtfintype2',
 'electrical',
 'fireplacequ',
 'garagetype',
 'garageyrblt',
 'garagefinish',
 'garagequal',
 'garagecond',
 'poolqc',
 'fence',
 'miscfeature']

In [1]:
#How many distinct values are there in the mszoning column?
import pandas as pd
from scipy import stats
houseprices_df=pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/houseprices.csv')
#houseprices_df.shape
#houseprices_df.info()

mszon_uni = houseprices_df['mszoning'].nunique()
print("Number of unique mszoning values: {}".format(mszon_uni))

mszon_uni_cnt=houseprices_df['mszoning'].value_counts()
print("\n Unique MSZONING column values:\n {}".format(mszon_uni_cnt))

Number of unique mszoning values: 5

 Unique MSZONING column values:
 RL         1151
RM          218
FV           65
RH           16
C (all)      10
Name: mszoning, dtype: int64

In [6]:
#Describe the range of the saleprice.
import pandas as pd
from scipy import stats
houseprices_df=pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/houseprices.csv')
#houseprices_df.info()

salepricerange = houseprices_df['saleprice'].describe()
print("Sale Price Range:\n {}".format(salepricerange))

Sale Price Range:
 count      1460.000000
mean     180921.195890
std       79442.502883
min       34900.000000
25%      129975.000000
50%      163000.000000
75%      214000.000000
max      755000.000000
Name: saleprice, dtype: float64

In [9]:
#Describe the range of the saleprice.
import pandas as pd
from scipy import stats
houseprices_df=pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/houseprices.csv')
#houseprices_df.info()

lot_area_range = houseprices_df['lotarea'].describe()
print("Lot Area Range:\n {}".format(lot_area_range))

Lot Area Range:
 count      1460.000000
mean      10516.828082
std        9981.264932
min        1300.000000
25%        7553.500000
50%        9478.500000
75%       11601.500000
max      215245.000000
Name: lotarea, dtype: float64

In [18]:
#Is there a significant correlation between the lotarea and saleprice variables? Are they positively or negatively correlated?
import pandas as pd
from scipy import stats
houseprices_df=pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/houseprices.csv')
salepricerange = houseprices_df['saleprice'].describe()
lot_area_range = houseprices_df['lotarea'].describe()
corr_sale_lot = salepricerange.corr(lot_area_range)
print("Correlation between Sale Price and Lot Area range is:\n {}".format(corr_sale_lot) +' ' + "and it is positively correlated")

Correlation between Sale Price and Lot Area range is:
 0.9650512520570536 and it is positively correlated

In [34]:
#Handle Null values
import pandas as pd
from scipy import stats
houseprices_df=pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/houseprices.csv')

null_hprices_df = houseprices_df[houseprices_df.isnull().any(axis=1)]
#null_hprices_df.head(10)

null_filled = null_hprices_df.fillna('NULL')

house_open_porch= houseprices_df.iloc[(houseprices_df['openporchsf'] == 0).values]
#house_open_porch.info()

house_no_open_porch = houseprices_df.iloc[(houseprices_df['openporchsf'] >= 1).values]
#house_no_open_porch.info()

#stats.ttest_ind(players_1990['salary'], players_2000['salary'])
stats.ttest_ind(house_open_porch['saleprice'],house_no_open_porch['saleprice'])

Ttest_indResult(statistic=-17.31355834212178, pvalue=3.209770265256579e-61)